header {
    width: 850px;
    height: 80px;
    padding: 10px;
    border: 2px;
    margin: 20px;
    border: 1px solid #000;
}
nav {
    width: 820px;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-style: dotted;
}
main {
    width: 850px;
    height: 320px;
    border: 1px solid #000;
    padding: 10px;
    margin: 20px;
}
div {
    width: 550px;
    height: 250px;
    padding: 10px;
    border: 2px;
    margin: 20px;
    border: 1px solid #000;
}
article {
    width: 500px;
    height: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-style: dotted;
}
aside {
    float: right;
    width: 200px;
    margin-top: -292px;
    height: 270px;
    border: 1px solid #000;
}
footer {
    width: 850px;
    height: 30px;
    padding: 10px;
    border: 2px;
    margin: 20px;
    border: 1px solid #000;
}
